@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --text: #ffffff;
  --description: #c0c0c0;
  --button-main: #167bf7;
  --background: #00030c;

  --font: "Inter";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: 1rem;
}

.primary-content {
  height: 100vh !important;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.container {
  height: 65vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.container__box {
  margin: 0 6em;
  padding: 2em;
}

.container__title {
  font-size: 1.75rem;
  font-weight: 700;
}

.primary-content__image {
  margin: 1em 0 2em 0;
}

.container__image {
  size: 80%;
}

.container__button {
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 1em;
  color: var(--text);
  display: block;
  text-decoration: none;
  margin: 1em;
}

.button__main {
  background-color: var(--button-main);
  border: 0;
}

.button__secondary {
  background-color: var(--button-main);
  border: 0;
  display: inline-block;
  margin: 0;
  margin-top: 1em;
}

.container__warn {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--description);
}

.secondary-content {
  margin: 0 10em;
}

.secondary-content__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 0.1em;
}

.secondary-content__text {
  color: var(--description);
}

.content__list {
  height: 65vh;
  text-align: center;
}

.container__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 2em 0;
}

.container__list__text {
  color: var(--text);
  font-size: 2rem;
  font-weight: 700;
}

.footer__content {
  margin-top: 2em;
  text-align: center;
}

.footer__text {
  margin: 1em 0;
}

.container__list__item a {
  text-decoration: none;
  padding: 0 0.5em;
  color: var(--text);
  font-size: 1rem;
  font-weight: 400;
}

.container__list__item a:hover {
  color: var(--button-main);
}

@media screen and (max-width: 768px) {
  .container,
  .content__list {
    display: block;
    text-align: center;
    height: auto;
  }

  .container__list {
    flex-direction: column;
  }

  .primary-content {
    background-image: none;
    height: auto !important;
  }

  .primary-content__image,
  .container__image {
    width: 50vw;
  }

  .container__box,
  .secondary-content {
    padding: 1.5em 0;
    margin: 1em;
  }
}
